.h-query-filter {
  display: flex;
  align-items: flex-start;
  width: 100%;

  .h-query-filter-form {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: 16px;

    .h-query-filter-form-item {
      display: flex;
      align-items: center;

      .label {
        margin-right: 8px;
        font-family: 'PingFang SC', sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: rgb(0 0 0 / 65%);
      }
    }
  }

  .h-query-filter-btns {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-left: 0;
    white-space: nowrap;

    .h-icon-dropdown {
      width: 24px;
      height: 24px;
      color: #000;
      cursor: pointer;
      transform: rotateZ(180deg);

      &.collapsed {
        transform: rotateZ(0);
      }
    }
  }
}
