:root {
  --primary-color: #fff;
  --primary-color-2: #fff;
  --primary-color-3: #001529;
  --primary-border-color: hwb(0deg 94% 6%);
  --primary-border-color-2: #e9e9e9;
  --font-color-1: rgb(0 0 0);
  --font-color-2: rgb(0 0 0 / 80%);
  --font-color-3: rgb(0 0 0 / 60%);
  --font-color-4: rgb(0 0 0 / 45%);
  --scrollbar-thumb-bg-color: #a0a0a0;
  --scrollbar-thumb-hover-bg-color: #807b7b;
  --header-box-shandow-color: rgb(0 21 41 / 12%);
  --content-bg-color: #f0f2f5;
  --ant-table-thead-bg-color: #fafafa;
  --ant-table-row-hover-color: var(--ant-table-thead-bg-color);
  --ant-table-row-selected-color: #e6f4ff;
  --ant-input-affix-wrapper-border-color: #d9d9d9;
  --ant-input-bg-color: #fff;
  --ant-btn-border-color: #d9d9d9;
  --ant-pagination-bg-color: var(--ant-input-bg-color);
  --ant-tree-directory-hover-color: rgb(0 0 0 / 4%);
  --ant-active-color: #1677ff;
  --ant-menu-selected-color: #1890ff;
  --ant-table-operate-color: #1890ff;
  --ant-table-operate-danger-color: #ff3232;

  &.darkblue {
    --primary-color: #031b3b;
    --primary-color-2: #0a2444;
    --primary-color-3: #0a2444;
    --primary-border-color: #337bbe;
    --primary-border-color-2: #337bbe;
    --font-color-1: rgb(255 255 255);
    --font-color-2: rgb(255 255 255 / 80%);
    --font-color-3: rgb(255 255 255 / 60%);
    --font-color-4: rgb(255 255 255 / 45%);
    --scrollbar-thumb-bg-color: #0f3876;
    --scrollbar-thumb-hover-bg-color: #a0a0a0;
    --header-box-shandow-color: rgb(0 21 41 / 60%);
    --content-bg-color: #021124;
    --ant-table-thead-bg-color: #0f3876;
    --ant-table-row-hover-color: rgb(3 27 59 / 90%);
    --ant-table-row-selected-color: rgb(16 57 111 / 90%);
    --ant-input-affix-wrapper-border-color: rgb(51 123 190 / 70%);
    --ant-input-bg-color: #142c4b;
    --ant-btn-border-color: var(--primary-border-color);
    --ant-pagination-bg-color: var(--ant-input-bg-color);
    --ant-tree-directory-hover-color: rgb(255 255 255 / 10%);
    --icon-item-bg-color: #031b3b;
    --ant-pagination-pop-bg-color: #031b3b;
    --ant-active-color: #1677ff;
    --ant-menu-selected-color: #1890ff;
    --ant-table-operate-color: #1890ff;
    --ant-table-operate-danger-color: #ff3232;
  }
}
